{% extends 'clerk/clerk_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered table-striped">
    <tr style="background-color: #9fcdff">
      <th scope="col">Sl no</th>
      <th scope="col">Date</th>
      <th scope="col">Work name</th>
      <th scope="col">Department detail</th>
      <th scope="col">report filename</th>
        <th>Status</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['date'] }}</td>
      <td>&nbsp;{{ i['w_name'] }}</td>
      <td>&nbsp;{{ i['dept_name'] }}</td>
      <td>&nbsp;{{ i['r_filename'] }}</td>
    <td>{{ i['status'] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}