
{% extends 'admin/admin_index.html' %}
{% block body %}
<body><form action="/add_corporation_post" method="post" enctype="multipart/form-data">
    <table class="table table-bordered table-striped" >
  <tr>
    <td width="300px">Panchayath Name</td>
    <td><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <td>District</td>
    <td><input type="text" name="textfield2" id="textfield2" class="form-control" required /></td>
  </tr>
  <tr>
    <td>State</td>
    <td><input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="email" name="textfield4" id="textfield4" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="textfield5" id="textfield5"pattern="[6789][0123456789]{9}" class="form-control" required /></td>
  </tr>
  <tr>
    <td>Photo</td>
    <td><input type="file" name="fileField" id="fileField" class="form-control" required/></td>
  </tr>
  <tr>
    <td>About</td>
    <td><textarea name="textarea" id="textarea" cols="45" rows="5"class="form-control" ></textarea></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="ADD" class="btn btn-success" />
    </div></td>
    </tr>
</table>
</form>
</body>
{% endblock %}

