{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/add_area">Add Area</a></td>
    </tr>
       <tr>
      <td><a href="/view_area">view Area</a></td>
    </tr>
    <tr>
      <td><a href="/view_feedback">view feedback</a></td>
    </tr>
    <tr>
      <td><a href="/add_clerk">Add Clerk</a></td>
    </tr>
    <tr>
      <td><a href="/view_clerk">View clerk</a></td>
    </tr>
    <tr>
      <td><a href="/add_corporation">Add corporation</a></td>
    </tr>
    <tr>
      <td><a href="/view_corporation">View corporation</a></td>
    </tr>
    <tr>
      <td><a href="/add_councilor">Add councillor</a></td>
    </tr>
    <tr>
      <td><a href="/view_councilor">View councillor</a></td>
    </tr>
    <tr>
      <td><a href="/add_dept">Add department</a></td>
    </tr>
    <tr>
      <td><a href="/view_dept">View department</a></td>
    </tr>
    <tr>
      <td><a href="/add_mayor">Add mayor</a></td>
    </tr>
    <tr>
      <td><a href="/view_mayor">View mayor</a></td>
    </tr>

    <tr>
      <td><a href="/view_rating">View rating</a></td>
    </tr>

    <tr>
      <td><a href="/view_complaint">View complaint send reply</a></td>
    </tr>

  </table>
</form>
</body>
{% endblock %}

