{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/sent_reply_post">
<table class="table table-bordered">
    <tr><input type="hidden"name="comp_id"value="{{ id }}">
      <td>Reply</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="OK" class="btn btn-success"/>
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
