{% extends 'councillor/councilor_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/view_coun_profile">view profile</a></td>
    </tr>
    <tr>
      <td><a href="/chat">chat</a></td>
    </tr><tr>
      <td><a href="/coun_create_pjct_plan">create project plan</a></td>
    </tr>
    <tr>
      <td><a href="/send_complaint">send complaint</a></td>
    </tr>
    <tr>
      <td><a href="/send_seggestion">send suggestion</a></td>
    </tr>
    <tr>
      <td><a href="/coun_view_reply">view reply</a></td>
    </tr>
    <tr>
      <td><a href="/view_created_pjct_sta">view created project</a></td>
    </tr>
    <tr>
      <td><a href="/view_mayor_pjct_policy"> view mayor project policy</a></td>
    </tr>
    <tr>
      <td><a href="/view_notif_frm_mayor">view notification from mayor</a></td>
    </tr>
    <tr>
      <td><a href="/view_problems">view problem</a></td>
    </tr>
       <tr>
      <td><a href="/send_program_info">send program info</a></td>
    </tr>
    <tr>
      <td><a href="/view_program_info">view program</a></td>
    </tr>
    <tr>
      <td><a href="/change_pass">change password</a></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
