{% extends 'councillor/councilor_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/coun_create_pjct_plan_post">
  <table class="table table-bordered table-striped">

    <tr>
      <td>Title</td>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
    </tr>
    <tr>
      <td>File name</td>
      <td><input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="CREATE" class="btn btn-success"/>
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
