{% extends 'councillor/councilor_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/send_seggestion_post">
  <table class="table table-bordered table-striped">

{#    <tr>#}
{#      <td>Councillor Details</td>#}
{#      <td><input type="text" name="textfield2" id="textfield2" /></td>#}
{#    </tr>#}
    <tr>
      <td>Suggestion</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="SEND" class="btn btn-success" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
