{% extends 'department/department_index.html' %}
{% block body %}

<body><form action="/send_reply_dept_post" method="post">
      <table class="table table-bordered table-striped">

  <tr><input type="hidden" name="comp_id" value="{{ id }}">
    <td>Action</td>
    <td><textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control"></textarea></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="SEND" class="btn btn-success" />
    </div></td>
    </tr>
</table>
</form>
</body>
{% endblock %}
