{% extends 'department/department_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered table-striped">
{#    <tr><td></td>#}
{#      <td><img src="{{ data['photo'] }}"height="150px"width="20px" class="form-control"></td>#}
{#    </tr>#}
    <tr>
      <td>Name</td>
      <td>&nbsp;{{ data['dept_name'] }}</td>
    </tr>
    <tr>
      <td>Head Name</td>
      <td>&nbsp;{{ data['dept_head_name'] }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>&nbsp;{{ data['dept_email'] }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>&nbsp;{{ data['dept_phone'] }}</td>
    </tr>
    </table>
</form>
</body>
{% endblock %}
