{% extends 'president/president_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/add_notification">Add Notification</a></td>
    </tr>
    <tr>
      <td><a href="/change_password">Change password</a></td>
    </tr>
    <tr>
      <td><a href="/create_project">create project and policies</a></td>
    </tr>
    <tr>
      <td><a href="/view_complaints">view complaints</a></td>
    </tr>
      <tr>
      <td><a href="/chat1">chat</a></td>
    </tr>
    <tr>
      <td><a href="/view_councellor">view councellor</a></td>
    </tr>
    <tr>
      <td><a href="/view_dept_work">view department work</a></td>
    </tr>
    <tr>
      <td><a href="/view_notification">view notification</a></td>
    </tr>
    <tr>
      <td><a href="/view_pjct_polic">view project and policies</a></td>
    </tr>
    <tr>
      <td><a href="/view_pjct_plan">view project plan</a></td>
    </tr>
    <tr>
      <td><a href="/view_mayor_profile">view profile</a></td>
    </tr>
    <tr>
      <td><a href="/view_suggestion">view suggestion</a></td>
    </tr>
      <tr>
          <td>
              <a href="/view_corporation_about">view corperation about</a>
          </td>
      </tr>
      <tr>
          <td>
             <a href="/view_pgm_info">view program info</a>
          </td>
      </tr>
  </table>
</form>
</body>
{% endblock %}
