{% extends 'president/president_index.html' %}
{% block body %}

<body><form action="/send_reply_post" method="post">
    <table class="table table-striped table-borderedb">
  <tr><input type="hidden"name="comp_id" value="{{ id }}">
    <td>Reply</td>
    <td><textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="OK" class="btn btn-success" />
    </div></td>
    </tr>
</table>
</form>
</body>
{% endblock %}
