{% extends 'president/president_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/view_dept_work_search_post">
{#  <table class="pull-right">#}
{#    <tr>#}
{#      <td width="1000px"><input type="text" name="textfield" id="textfield" class="form-control" /></td>#}
{#      <td><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-success"/></td>#}
{#    </tr>#}
{#  </table>#}
{#<br>#}
  <table class="table table-bordered table table-striped">
    <tr>
      <th scope="col">Sl no</th>
      <th scope="col">Upload Date</th>
      <th scope="col">Work Name</th>
      <th scope="col">Department Info</th>
      <th scope="col">Clerk Info</th>
      <th scope="col">Status</th>
        <th></th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['upload_date'] }}</td>
      <td>&nbsp;{{ i['w_name'] }}</td>
      <td>&nbsp;{{ i['dept_name'] }}<br>{{ i['dept_email'] }}<br>{{ i['dept_phone'] }}</td>
      <td>&nbsp;{{ i['c_name'] }}<br>{{ i['email'] }}<br>{{ i['phone'] }}</td>
      <td>&nbsp;{{ i['status'] }}</td>
{#      <td>{% if i['status']=="pending" %}<a href="/" class="btn btn-success">Assign</a>{% else %}{{ i['status'] }}{% endif %}</td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
